textarea {
  max-width: 100%;
  width: 100%;
  display: block;
  padding: 10px 20px;
  margin: 0 0 20px 0;
  font-family: Golos, Arial, sans-serif;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
}

.content {
  position: relative;
}

.card {
  position: relative;
}

.clear-btn {
  position: absolute;
  top: 0;
  right: -200px;
  background: #cccccc;
}

.clear-btn:hover {
  background: #444444;
}
